body {
    background-color: rgb(165, 165, 165);
}
ul {
    display: inline;
}
ul li {
    display: inline;
}
#title2{
    border: 3px solid rgb(255, 0, 0);
    width: 500px;
    height: 100vh;
   }
   